.app_container {
    width: 100vw;
    height: fit-content;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background: var(--color0);
}

.app_content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_questions h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    color: white;
    width: 400px;
    height: 400px;
}

.app_intro {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_intro h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Poppins';
    color: var(--color6);
}

.section input {
    border: none;
    font-size: 40px;
    width: 70px;
    height: 70px;
    font-family: 'Poppins';
    font-weight: 800;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background: none;
    color: var(--color1);
    margin: 20px;
    cursor: pointer;
    transition: .3s;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_intro input:hover {
    transform: translateY(-9px);
}

.app_intro input:focus {color: var(--color3);}

.app_intro button {
    margin-top: 30px;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background: none;
    font-family: 'Poppins';
    font-weight: 800;
    border-radius: 10px;
    border: none;
    color: var(--color1);
    transition: .3s;
    cursor: pointer;
}

.app_intro button:hover {
    transition: .3s;
    transform: translateY(-3px);
    color: var(--color3);
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section button {border: none;}

.section button:hover {
    border: none;
    transform: translateY(-9px);
}

.section button:focus {color: var(--color3);}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2 p {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.section2 p span {color: var(--color6);}

.app_questions {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app_questions h1 {
    color: var(--color6);
    font-size: 50px;
    width: 100%;
    height: fit-content;
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
}

.app_questions img {
    width: 300px;
    height: 300px;
    user-select: none;
}

.app_questions input {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--color6);
    outline: none;
    background: none;
    color: var(--color6);
}

.app_questions p {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.app_questions p button {
    margin: 0;
    position: relative;
}

.app_questions p button::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 3px;
    background: var(--color6);
    transform: translateY(50px) translateX(50%);
    transition: .2s;
}

.app_questions p button:hover::after {width: 50%;}

.app_questions p:nth-child(2){
    color: var(--color3);
    font-size: 1.5vw;
}

.app_results {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app_results h1 {
    color: var(--color6);
    font-size: 40px;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center;
}

.app_results p {
    color: var(--color6);
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
}

.app_results button {
    cursor: pointer;
    width: 250px;
    height: 80px;
    font-family: 'Montserrat';
    background: none;
    border: none;
    color: var(--color1);
    transition: .3s;
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
}

.app_results button:hover, .app_questions button:hover {color: var(--color6);}

.app_questions button {
    margin-top: 40px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Montserrat';
    background: none;
    color: var(--color1);
    transition: .3s;
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
}

#hard {filter: brightness(0%);}

@media only screen and (max-width: 400px) {
    .app_intro h1 {
        font-size: 30px;
    }

    .section input {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .app_intro h1 {font-size: 6vw;}

    .section input {
        font-size: 6vw;
        width: 8vw;
        height: 8vw;
        margin: 5px;
        padding: 5px
    }

    .app_intro button, .section2 p {font-size: 4vw;}
}

@media only screen and (max-width: 991px) {
    .app_intro button, .section2 p, .app_intro h1 {font-size: 4vw;}

    .section input {
        font-size: 6vw;
        width: 8vw;
        height: 8vw;
        margin: 5px;
        padding: 5px
    }

    .app_questions p:nth-child(2) {font-size: 3.5vw;}
}