.app_container {
    width: 100vw;
    height: fit-content;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    background: var(--color4);
    overflow-x: hidden;
    overflow-y: hidden;
}

.app_content {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_questions h1 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    width: 400px;
    height: 400px;
}

.app_intro {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app_intro h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    font-family: 'Poppins';
    color: var(--color1);
}

.section input {
    border: none;
    font-size: 40px;
    width: 70px;
    height: 70px;
    font-family: 'Poppins';
    font-weight: 300;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    background: none;
    color: var(--color1);
    margin: 20px;
    cursor: pointer;
    transition: .3s;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app_intro input:hover {
    transform: translateY(-10px);
}

.app_intro input:focus {
    transform: translateY(-30px);
    color: var(--color2);
}

.app_intro button {
    margin-top: 30px;
    height: 60px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
    background: none;
    font-family: 'Poppins';
    font-weight: 300;
    border-radius: 10px;
    border: none;
    color: var(--color1);
    transition: .3s;
    cursor: pointer;
}

.app_intro button:hover {
    color: var(--color2);
    transition: .3s;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section button {
    border: none;
}

.section button:hover {
    border: none;
    transform: translateY(-15px);
}

.section button:focus {
    color: var(--color2);
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section2 p {
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.section2 p span {
    color: var(--color2);
}

.app_questions {
    height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app_questions h1 {
    color: var(--color1);
    font-size: 50px;
    height: 5%;
    font-family: 'Poppins';
    font-weight: 500;
    text-align: center;
}

.app_questions img {
    width: 300px;
    height: 300px;
    user-select: none;
}

.app_questions input {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    width: 250px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--color2);
    outline: none;
    background: none;
    color: var(--color2);
}

.app_results {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app_results h1 {
    color: var(--color1);
    font-size: 40px;
    font-weight: 400;
    font-family: 'Poppins';
    text-align: center;
}

.app_results p {
    color: var(--color2);
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins';
}

.app_results button {
    cursor: pointer;
    width: 250px;
    height: 80px;
    font-family: 'Montserrat';
    background: none;
    border: none;
    color: var(--color1);
    transition: .3s;
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
}

.app_results button:hover {
    color: var(--color2);
}

.app_questions button {
    margin-top: 40px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: 'Montserrat';
    background: none;
    color: var(--color1);
    transition: .3s;
    font-size: 25px;
    border-radius: 15px;
    padding: 20px;
}

.app_questions button:hover {
    color: var(--color2);
}

#hard {
    filter: brightness(0%);
}

@media only screen and (max-width: 400px) {
    .app_intro h1 {
        font-size: 30px;
    }

    .section input {
        width: 60px;
        height: 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .app_intro h1 {
        font-size: 6vw;
    }

    .section input {
        font-size: 6vw;
        width: 8vw;
        height: 8vw;
        margin: 5px;
        padding: 5px
    }

    .app_intro button {
        font-size: 4vw;
    }

    .section2 p {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 991px) {
    .app_intro h1 {
        font-size: 4vw;
    }

    .section input {
        font-size: 6vw;
        width: 8vw;
        height: 8vw;
        margin: 5px;
        padding: 5px
    }

    .app_intro button {
        font-size: 4vw;
    }

    .section2 p {
        font-size: 4vw;
    }
}